* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f2f2f2;
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(/Calculators/Weight/images/bg2.jpg);
    background-size: cover;
    font-family: "Kameron", sans-serif;
    color: #019da8;
  }
  
  .container {
    background-image: linear-gradient(to bottom right, rgb(196, 223, 147), rgb(198, 229, 240), rgb(196, 223, 147));
    max-width: 500px;
    margin: 100px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

  h1 {
    font-size: 28px;
    font-weight: 555;
    
  }
  
  
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px 0;
    width: 75%;
    margin-left: 40px;
  }

  button {
    background-color: #019da8;
    color: white;
    padding: 10px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 4px;
    margin-left: 60%;
    width: 25%;
    font-size: 15px;
    transition: background-color 0.2s ease;
  }

  button:hover {
    background-color: white;
    color: #019da8;
  }
  
  
  #total {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
  }