body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: blue ;
}

#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 42%);
    color: white;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}


button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    border-color: hsl(0, 2%, 8%);
    color: rgb(20, 19, 19);
    font-size: 3REM;
    font: bold;
    cursor: pointer;

}

button:hover{
    background-color: hsl(0, 2%, 50%);

}
button:active{
    background-color: rgb(78, 80, 79);
}
.operator-btn{
background-color: rgb(255, 238, 0);
}
.operator-btn:hover{
    background-color: rgb(255, 238, 0);
    }
    .operator-btn:active{
        background-color: rgb(255, 238, 0);
        }